.tx-table {
  border-collapse: collapse;
  width: 100%;

  tr {
    td, th {
      padding: 5px;
      color: #c0c0c0;
    }
  }
}

.p-datatable .p-datatable-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.layout-news-active :host ::ng-deep .p-datatable tr > th {
  top: 0;
}

@media screen and (max-width: 64em) {
  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    top: 0;
  }

  .layout-news-active :host ::ng-deep .p-datatable tr > th {
    top: 0;
  }
}
