<div style="display:flex;gap:10px;padding:5px 0">
  <input pInputText placeholder="Name" [(ngModel)]="createWalletModel.name"/>
  <input pInputText placeholder="Address" [(ngModel)]="createWalletModel.address"/>
  <input pInputText placeholder="Private key" [(ngModel)]="createWalletModel.privateKey"/>
  <button pButton class="p-button-help" (click)="createWallet()">Create Wallet</button>
</div>
<p-table [value]="$any($wallets | async)" styleClass="p-datatable-sm">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">
        <div class="p-d-flex p-jc-between p-ai-center">Name</div>
      </th>
      <th pSortableColumn="address">
        <div class="p-d-flex p-jc-between p-ai-center">Address</div>
      </th>
      <th pSortableColumn="balance">
        <div class="p-d-flex p-jc-between p-ai-center">Balance</div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">Actions</div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-wallet>
    <tr class="p-selectable-row">
      <td>{{wallet.name}}</td>
      <td>{{wallet.address}}</td>
      <td>{{wallet.balance}}</td>
      <td>
        <div style="display:flex;gap:10px;align-items:center">
          <a href="https://bscscan.com/address/{{wallet.address}}" target="_blank"><img src="/assets/img/bscscan.png"
                                                                                        style="max-height:20px"
                                                                                        alt="BscScan"/></a>
          <i class="pi pi-trash" style="color:red" (click)="deleteWallet(wallet, $event)"></i>
          <i class="pi pi-copy" (click)="copyPrivateKey(wallet)" pTooltip="Copy private key"></i>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
