<div style="width:100%;height:100vh;display:flex;justify-content:center;align-items:center">

  <div style="display:flex;flex-direction:column;gap:10px;width:400px">
    <h2>Authentication required</h2>
    <input pInputText placeholder="Auth key" [(ngModel)]="authKey">
    <button pButton label="Login" (click)="login()"></button>
    <span style="color:red" *ngIf="displayError">Invalid credentials</span>
    <small style="color:grey">The auth key is written in the console of the backend</small>
  </div>

</div>
