@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  background: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.p-menubar {
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: unset;
  cursor: Pointer;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
