<div *ngIf="contract" style="display:flex;flex-direction:column">
  <div style="display:flex;flex-direction:column;padding:20px 10px">
    <b style="font-size:25px">{{contract.name}}</b>
    <small>{{contract.address}}</small>
  </div>


  <div style="display:flex;flex-direction:row">
    <div>
      <div *ngFor="let abi of getAbiFunctions()" class="abiItem" (click)="selectAbi(abi)"
           [ngClass]="{'selected': state.selectedAbiItem == abi}">
      <span>
        {{abi.type}}
        {{abi.name}}
      </span>
      </div>
    </div>
    <div style="flex-grow:1;padding:10px">
      <ng-container *ngIf="state.selectedAbiItem">
        <div style="display:flex;flex-direction:column">
          <span style="margin-bottom:20px">Selected: <b>{{state.selectedAbiItem.name}}</b></span>
          <div style="display:flex;flex-direction:column;gap:10px">

            <div *ngFor="let input of state.selectedAbiItem.inputs; let i = index"
                 style="display:flex;flex-direction:column">
              <label>{{input.name}}</label>
              <input pInputText style="padding: 2px" [placeholder]="input.type" [(ngModel)]="state.inputs[i]"/>
            </div>

          </div>
          <div style="display:flex;gap:10px;margin-top:10px;justify-content:space-between">
            <p-button label="Call" styleClass="p-button-help" (onClick)="call()"
                      [disabled]="($selectedWallet | async) == null" [loading]="state.loading"></p-button>
            <div style="display:flex;gap:5px">
              <div *ngIf="state.value" style="text-align:right;font-size:12px">
                {{state.value / 10e17}} bnb =<br/>
                {{state.value / pow(10, decimalCalculator)}} * <input placeholder="decimals"
                                                                      style="border:none;width:35px"
                                                                      [(ngModel)]="decimalCalculator" type="number">
                =<br/>
                {{state.value | number}} =
              </div>
              <input pInputText placeholder="Value" style="padding:5px;width:300px" [(ngModel)]="state.value"
                     type="number">
              <p-button label="Send transaction" styleClass="p-button-danger" (onClick)="send($event)"
                        [loading]="state.loading"
                        [disabled]="($selectedWallet | async) == null"></p-button>
            </div>
          </div>
          <div *ngIf="state.result">
            <div *ngIf="isNumericResponse">
              <table>
                <tr>
                  <td>Response</td>
                  <td><b>{{state.result}}</b></td>
                </tr>
                <tr>
                  <td>BnB</td>
                  <td>{{state.result / 10e17 | number}}</td>
                </tr>
                <tr>
                  <td>Euro</td>
                  <td>{{state.result / 10e17 * getBnbPrice() | number:'.2-2'}}€</td>
                </tr>
              </table>
            </div>
            <ng-container *ngIf="!isNumericResponse">{{state.result}}</ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
